nav.navbar {
    background-color: var(--headerFooter);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: -5px;
    z-index: 2;
    height: 90px;
    min-height: 70px;
    background-color: #00000061;
    padding: 0 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}
a.link2 {
    text-decoration: none;
    color: var(--background);
    padding: 10px;
    color: white;
}
.search {
    margin-top: 10px;
    width: 30%;
    border-radius: 50px;
    background-color: #fffffff1;
}
form {
    display: flex;
    margin-top: 15px;
}
.searchgames {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-start-start-radius: unset;
    border-end-start-radius: unset;
    background-color: white;
    border-color: white;
}
input#formBasicEmail {
    height: 50px;
    border-radius: 50px;
    border-end-end-radius: unset;
    border-start-end-radius: unset;
}
