.main {
    display: flex;
    /* height: 100vh; */
    width: 100%;
    /* align-items: center; */
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 50px;
}

a.titleMusic {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: start;
    padding-left: 10px;
}


.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    z-index: 1;
    padding: 0;
    color: #fff;
    text-align: center;
    padding: 15px;
    opacity: 0.5;
    transition: opacity .15s ease;
}

.g-4.row.row-cols-md-4.row-cols-1 {
    padding: 30px;
}

button.BtnCard0.btn.btn-outline-secondary {
    width: auto;
}


.card {

    padding: 2rem;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(0 0 0);
}

.gamesimg {
    /* width: 150px; */
    height: 150px;
    /* object-fit: cover; */
    /* border-radius: 50%; */
    margin-bottom: 20px;
}

.card-title.h5 {
    color: #d3d0d0;
}

button.BtnCard0.btn.btn-dark {
    border-block-color: black;
    background-color: black;
    width: auto;
}

i.fab.fa-download {
    color: #d3d0d0;

}

.BtnCard {
    display: flex;
    justify-content: space-between;
}
a.BtnCard0.btn.btn-dark {
    background-color: black;
    width: auto;
    border-block-color: black;
}
.gamescards.card {
    margin: 40px;
}
.carousel.slide.carousel-dark {
    height: 500px;
    width: 1100px;
    margin-left: 20px;
    margin-top: 50px;
}
img.d-block.w-100 {
    height: 500px;
}
img.d-bloc {
    margin-top: 40px;
    margin-left: 100px;
}
p.pExp {
    /* margin: 50px; */
    margin-top: 100px;
    padding-left: 50px;
    color: white;
    /* size: 3px; */
    font-size: 20px;
}
p.pExp2 {
    /* margin-top: 100px; */
    padding-left: 50px;
    color: white;
    /* size: 3px; */
    font-size: 20px;
}
.TOP10 {
    display: flex;
}


nav.navbar {
    display: flex;
    justify-content: space-between;
}
a.link2 {
    margin: 10px;
}
form {
    margin-right: 40px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .pagination li {
    list-style: none;
    margin: 0.5rem;
    font-size: 1.2rem;
  }
  
  .pagination a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .pagination a:hover {
    background-color: #f01e3a;
    color: #fff;
  }
  
  .pagination a.active {
    background-color: #f01e3a;
    color: #fff;
  }
  
 
  