.lister-item.mode-detail {
    margin-bottom: 3px;
    /* padding: 10px 10px 20px; */
    margin: 10px 10px 20px;
    display: flex;
    border: solid;
    text-align: start;
}

.favback{
    min-height: 100vh;
}

.BtnCardinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.BtnCard0 {
    font-size: 20px;
    /* margin: 100px; */
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}


.BtnCard0:before {
    content: '';
    background: #111111fb;
    background: linear-gradient(45deg, #0A1334, #14202E, #2D4356, #14202E, #0A1334);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.BtnCard0:active {
    color: #00000011;
}

.BtnCard0:active:after {
    background: transparent;
}

.BtnCard0:hover:before {
    opacity: 1;
}

.BtnCard0:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6a616161;
    left: 0;
    top: 0;
    border-radius: 20px;
}

.BtnCard0:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #14202E, -10px 10px 25px 0 #0A1334;


}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.BtnCard1-fav {
    font-size: 20px;
    /* margin: 100px; */
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.BtnCard1-fav:before {
    content: '';
    background: #111111fb;
    background: linear-gradient(45deg, #194b01, #1b8201, #0a7500, #357200, #236a02);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.BtnCard1-fav:active {
    color: #00000011;
}

.BtnCard1-fav:active:after {
    background: transparent;
}

.BtnCard1-fav:hover:before {
    opacity: 1;
}

.BtnCard1-fav:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6a616161;
    left: 0;
    top: 0;
    border-radius: 20px;
}

.BtnCard1-fav:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #075d4c, -10px 10px 25px 0 #F4D03F;


}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

button.BtnCard1-fav.btn.btn-Success {
    margin-right: 20px;
}



.BtnCard2 {
    font-size: 20px;
    /* margin: 100px; */
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.BtnCard2:before {
    content: '';
    background: #111111fb;
    background: linear-gradient(45deg, rgb(45, 2, 2), #630118, #fe0101, #72001b, #770303);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.BtnCard2:active {
    color: #00000011;
}

.BtnCard2:active:after {
    background: transparent;
}

.BtnCard2:hover:before {
    opacity: 1;
}

.BtnCard2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6a616161;
    left: 0;
    top: 0;
    border-radius: 20px;
}

.BtnCard2:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(96, 1, 1, 0.959) -10px 10px 25px 0 rgba(125, 44, 1, 0.5);


}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




/* (45deg, rgb(57, 1, 1), #771D32, #E65758, #771D32, #440101); */