


.aboutusbanner {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://media1.giphy.com/media/WPwD0gdWFsNRy8LA2P/giphy.gif?cid=ecf05e47p0b99ifqjypw8zz08m1k3e8g176bp78m6upyf1uu&rid=giphy.gif&ct=g);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;

}

.paboutus{
    align-self: center;
    font-family: 'Bangers', cursive;

}

.h1about{
    color: aliceblue;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

.card {
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
