.banner {
  font-family: 'Alkatra', cursive;


  height: 1000px;
  display: flex;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/9c/20/6a/9c206adf27785d171a35e8f58470bc0b.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  margin-left: 150px;
  margin-right: 150px;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.cards {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('../img/23964.jpg');

}

.card {
  font-family: 'Alkatra', cursive;
  margin: 75px;
  background: none;
  width: 18rem;
  color: rgb(255, 255, 255);
}

.image {
  border-radius: 10px 10px 0 0;
  border-radius: 50%;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #635fa0;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}