.banner1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://thumbs.dreamstime.com/b/sci-fi-future-gaming-joystick-neon-laser-circles-glowing-purple-blue-concrete-tiled-floor-hexagone-synth-cyberpunk-epic-sci-fi-202617514.jpg);
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;
}



.banner2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://64.media.tumblr.com/1a8a768551d5a9cc9875180610408c9f/1f735bd65dd622a6-4f/s540x810/242a4e6389face5f8b1ff3f6797f59e8a455a861.gifv);
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;

}

.bannerstexts{
    background-color: rgba(0, 0, 0, 0.496);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
}

.banner3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://wallpapers.com/images/featured/nepi2tnxp6g0mvz9.jpg);
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;

}

.hometext {
        /* display: block; */
    line-height: 32px;
    padding: 20px 20px;
    /* background-color: #00000052;    font-weight: 700; */
    font-family: 'Merienda';

    border-radius: 20px;
    align-self: center;
    /* border: 3px solid #0000001f; */
    transition: .4s all ease;
}