.banner1 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://thumbs.dreamstime.com/b/sci-fi-future-gaming-joystick-neon-laser-circles-glowing-purple-blue-concrete-tiled-floor-hexagone-synth-cyberpunk-epic-sci-fi-202617514.jpg);
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;
}


.btn {
    width: 160px;
    align-self: center;
}

.banner2 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://preview.redd.it/z6mcavlsnka41.jpg?auto=webp&s=a9bd5107b7cfe7f76e5d0a1c17943b364bf092be);
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;

}

.banner3 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: url(https://wallpapers.com/images/featured/nepi2tnxp6g0mvz9.jpg);
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-size: cover;
    background-position: center;
    gap : 30px;

}

.hometext {
        display: block;
    line-height: 32px;
    padding: 20px 20px;
    background-color: #00000052;    font-weight: 700;
    border-radius: 20px;
    align-self: center;
    border: 3px solid #0000001f;
    transition: .4s all ease;
}