.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    color: azure;
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(153,33,33,0.7613096263896184) 0%, rgba(27,108,123,1) 100%);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.loginimg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.2rem;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #0062cc;
}
