.Footer {
    background-color: #1c425b;
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


#social-media {
    display: flex;
    gap: 20px;
}

#copy-right, #social-media {
    color: rgb(0, 0, 0);

}
.buttons{
    display: flex;
    gap: 30px;
}