.Footer {
    justify-content: space-around;
    background: rgb(5,5,52);
    background: rgb(197,18,204);
    background: linear-gradient(90deg, rgba(197,18,204,1) 0%, rgba(106,21,21,1) 0%, rgba(25,38,111,1) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 20px;
    font-family:monospace;
   color: rgb(173, 173, 192);
  
}

p {
    font-family: cursive;
}
#social-media {
    display: flex;
    gap: 20px;
}

#copy-right, #social-media {
    color: rgb(0, 0, 0);

}

.buttons{
    display: flex;
    gap: 30px;
}